@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', 'sans-serif';
}

body{
  height: 100vh;
  background-image: linear-gradient(to left bottom, #38296f, #444086, #52579d, #606fb4, #6f87ca, #6c9adb, #6aacea, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
 background-color: #5651b463;
  box-shadow: rgba(0, 0, 0, .44) 0px 3px 8px;
  padding: 2rem;
  color: #fdfdfd;
  border-radius: .4rem;
  
}

.container h3{
  color: #fff;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  justify-content: center;
  gap:5px;
}

.form input {
  padding: .8rem;
  border: none;
  flex: 1;
  border-radius: 4px;
}

.form button {
  padding: .8rem;
  min-width: 50px;
  margin-left: 8px;
  background-color: #8dd0f5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor:pointer;
}

.result {
  border-top: 1px solid #fff;
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
}

.city-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 1.5rem;
}


.country {
  width: 30px;
}

.city-results{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weather {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.wind-humidity{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
 
}
.wind-humidity div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444086;
  padding: 10px;
  border-radius: 4px;
  
}

.wind-humidity div span {
  margin-right: 10px;
}